/* influe le fr et le esp  */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #28109c;
  background: url(../img/arcoiris.jpeg);
}

/* titres des bloc column  */
h2,
h3 {
  text-align: center;
  color: rgb(25, 75, 25);
}


/* taille polices autre elements  */
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: 15px;
}
p {
  font-size: 14px;
}


/* header */

.header {
  background-color: rgba(241, 241, 241, 0.767);
  text-align: center;
  padding: 20px;
}
.liencv a {
  color:#28109c;
  font-size: 15px;  
  border: 1px solid #28109c;
  margin: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 0.1rem;
}

.liencv a:hover { 
  color: #fff;
  background-color: #290eb1e1;
}

.footer {
  position: relative;
  bottom: 0;
  height: 30px;
  text-align: right;
  padding-right: 30px;
  padding-top: 5px;
  background-color: rgba(29, 102, 26, 0.555);
}


/* Changement general de la classe column */

.column {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgba(136, 127, 172, 0.568);
  border-radius: 3px;
}


/* div choix de la langue  */

.choix-langue {
  z-index: 100;
  top: 0px;
  position: sticky;

  float: right;
  margin-right: 10px;
}
.langue {
  background-color: rgba(19, 14, 12, 0.233);
  padding: 5px;
  border-radius: 2px;
}
#fr {
  margin: 5px 0 5px 0;
}
#fr:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(255, 0, 0, 0.788);
}
#esp:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(75, 9, 182, 0.76);
}


/* changer que le cote CV francais  */

.francais .column {
  background-color: rgba(142, 135, 206, 0.425);
}



/* changer que le cote CV espagnol  */

.espagnol .column {
  background-color: rgba(206, 157, 241, 0.534);
}



/* FORMULAIRE  */

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form div {
  margin: 3px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


body {
  margin: 0;
  padding: 0;
}

h3 {
  position: sticky;
}

img {
  /* 0 invicible et 1 visible et les images en 1000px*/
  filter: opacity(1);
}

.slider {
  width: 100%;
  height: 300px; 
  height: 300px;
  overflow: hidden;
  margin: 20px auto;
}

.slides {
  width: calc(2000px * 3);
  animation: glisse 80s infinite;
}

.slide {
  float: left;
}

.slides:hover{
      animation-play-state: paused;   
  }

/* class es . PUNTO  id se utilisa # */

@keyframes glisse {
  0% {
      transform: translateX(0);
  }

  33% {
      transform: translateX(-1000px);
  }

  66% {
      transform: translateX(-2000px);
  }

  100% {
      transform: translateX(0);
  }        
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  /* .column {
    width: 100%;
  }

  .footer {
    background-color: rgb(197, 209, 243);
    text-align: right;
    float: right;
    padding: 10px;
  } */

}
